.quiz-container {
	max-width: 800px;
	margin: 0px auto;
	padding: 20px;
	background-color: #f5f5f5;
	font-family: Arial, sans-serif;
}

.question {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.answers {
	margin-bottom: 20px;
}

.submit-btn {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

.submit-btn:hover {
	background-color: #3e8e41;
}


/* css cho trả lời và đưa ra kết quả*/

 .result-container {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	background-color:lightslategray ;
	border: 1px solid #ddd;
	border-radius: 25px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	display: none;
}

.result-container h2 {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.result-container p {
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.result-container p span {
	font-weight: normal;
}

.correct {
	color: green;
}

.incorrect {
	color: red;
}



body{
	background: linear-gradient(90deg, rgb(63 61 97) 0%, rgba(252, 167, 213, 1) 35%, rgb(87 76 101) 100%);
}


/* kết quả ra màn hình */
 
 .result-container{
	display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	
}

.xyz {
	width: 100%;
	height: 100%;
	object-fit: contain;
}